body{
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-size: cover;
}
a{
    text-decoration: none;
    color: white;
}
.firstwrapper{
    padding: 10px;
    margin: 20px;
    height: 800px;
    border-radius: 7px;
    background: rgba(153, 148, 186, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    border: 1px solid rgba(153, 148, 186, 0.3);
    margin-right: 2.5em;
    margin-bottom: 2.5rem;

}
.secondwrapper{
    height: 70px;
    padding: 0.8rem;
    display: flex;
    justify-items: baseline;

    text-align: center;

}
.mainlogo{
padding-top: -2rem;
font-size: 3em;
}
.nav{
    justify-content: space-between;
    position: absolute;
    right: 1.285em;
    font-size: 1.8em;
    text-transform: uppercase;
    list-style-type: none;
    color: white;
    outline: white;
    display: inline;
    margin: auto 0;
}
.pagespan{
    color: blueviolet;
}
.firstHero{
    color: white;
    text-align: center;
    width: 55rem;
    font-weight: bolder;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    flex: 1;
}
.secondHero{
    color: white;
    text-align: center;
    font-size: 2rem;
    width: 55rem;
}
.firstContainer{
    position: absolute;
    right: 3rem;
    width: 45rem;
    height: 40em;
    margin: 0 auto;
}
 .firstContainer img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.secondFlex{
    border: solid 4px white;
    padding: 10px;
    margin: 20px;
    height: 50rem;
    border-radius: 7px;
    background: rgba(153, 148, 186, 0.42);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px);
    border: 1px solid rgba(153, 148, 186, 0.3);
    margin-right: 2.5em;
}
h1{
    text-align: center;
    font-size: 3.25rem;
    color: white;
    -webkit-text-stroke: .09rem black;
}
.secondContainer{
    height: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.scItems{
    flex: 1 1 0;
    padding: 1em;
    text-align: center;
}
.scItems img{
    width: 99%;
    height: 60%;
    scale: initial;
    border-radius: 20px;
}

.scItems{
    font-size: 1.5em;
    color: white;

}
.button1{
    margin: 0;
   width: 55rem;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonholder {
    border: 0.2rem solid white ;
    padding: 0.5rem 1.5rem;
    color: white;
    background-color: blueviolet;
    border-radius: 1rem;
    size: 4rem;

    font-size: 2em;
}
.buttonholder:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.bodypara{
    width: 55rem;
}
.bigcontainer{
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}

@media only screen and (min-width: 600px) {
    .bigcontainer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
    }
}








